<!-- articles.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=articles.title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        .navbar {
            background-color: black;
            color: white;
        }
        .navbar-brand {
            color: white;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Connect</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="mb-0"> Articles</h1>
            <a href="/new-article" class="btn btn-success"> New Article</a>
        </div>
        <% articles.reverse().forEach(article => { %>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title"><%= article.title %></h5>
                <p class="card-text"><%= truncateText(article.body, 100) %></p>
                <a href="/article/<%= article._id %>" class="btn btn-primary">Read More</a>
            </div>
        </div>
        <% }) %>
    </div>

    <% function truncateText(text, maxLength) { %>
        <% if (text.length > maxLength) { %>
            <%= text.substring(0, maxLength) + '...' %>
        <% } else { %>
            <%= text %>
        <% } %>
    <% } %>
</body>
</html>
