<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= articles.title %></title>
</head>
<body>
<div class="container">
    <h1 class="mb-4">My Articles</h1>
    <a href="/new-article" class="btn btn-success">New Article</a>

    <% articles.reverse().forEach(article => { %>
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title"> <%= article.title %></h4>
                <div class="card-text mb-2">
                    <%= truncateText(article.body, 100) %> 
                </div>
                <a href="/article/<%= article._id %>" class="btn btn-primary">Read More</a>
                
                <!-- Edit Button -->
                <a href="/update-article/<%= article._id %>" class="btn btn-warning">Edit</a>
                
                <!-- Delete Button (with confirmation) -->
                <form action="/delete-article/<%= article._id %>"  style="display: inline;">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this article?')">Delete</button>
                </form>
            </div>
        </div>
    <% }) %>
</div>
<% function truncateText(text, maxLength) { %>
    <% if (text.length > maxLength) { %>
        <%= text.substring(0, maxLength) + '...' %>
    <% } else { %>
        <%= text %>
    <% } %>
<% } %>
</body>
</html>