<!-- alumni.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni List</title>
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <style>
        .navbar {
            background-color: black;
            color: white;
        }
        .navbar-brand {
            color: white;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Connect</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <h1>Alumni List</h1>
    </header>

    <main>
        <div class="alumni-container">
            <% alumni.forEach(function(alumni) { %>
                <div class="alumni-card">
                    <h2><%= alumni.name %></h2>
                    <p><strong>Company:</strong> <%= alumni.company %></p>
                    <p><strong>Designation:</strong> <%= alumni.designation %></p>
                    <!-- Add more fields as needed -->
                    <a href="/alumni/<%=alumni.school %>/<%= alumni._id %>" class="view-profile-button">View Profile</a>
                </div>
            <% }); %>
        </div>
    </main>

    <footer>
        <!-- Your footer content here -->
    </footer>
</body>

</html>
